[Desktop Entry]
Name=SuperShot
GenericName=Screenshot Tool
Comment=Screenshot tool with delay timer for GNOME
Exec=supershot
Icon=com.github.axpnet.SuperShot
Terminal=false
Type=Application
Categories=Utility;Graphics;GTK;
Keywords=screenshot;capture;screen;delay;snip;
StartupNotify=true
